@media (min-width: 150px) and (max-width: 600px){
	.container_inicio_jpn{
		flex-direction: column;
	}
	.inicio_jpn_item:nth-child(1){
		width: 100vw;
		height: 50vh;
		background-color: #eeeeee;
	}
	.inicio_jpn_item:last-child{
		width: 100vw;
		height: 50vh;
		background-color: #eeeeee;
		background-color: blue;
	}
	.inicio_item_animation_display{
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: green;
		display: flex;
		flex-direction: column;
	}
	.inicio_item_jpn_map{
		margin: 20px;
		width: calc(100% - 40px);
		height: calc(30% - 40px);
	}
	.inicio_item_jpn_infos{
		margin: 20px;
		width:  calc(100% - 40px);
		height: calc(70% - 40px);
	}
}



@media (min-width: 150px) and (max-width: 400px){
    .titulo_gastronomia, .titulo_explorar{	
		letter-spacing: 12px;
		font-size: 20px;
	}


	.gastronomia_grid_item{
		display: flex;
		flex-direction: column;
	}
	.gastronomia_fondo{
		width: 100%;
		margin-bottom: 10px;
	}
	.gastronomia_textoytituolo{
		width: 100%;
		padding-left: 0px;
		margin-left: 0px;
		align-items: center;
	}
	.gastronomia_mas_info{
		padding-top: 10px;
	}
	.mas_info_btn_gastronomia{
		margin-top: 20px;
	}




}
/* @media (min-width: 361px) and (max-width: 520px){
    .titulo_gastronomia{	font-size: 30px;}
} */
@media (min-width: 150px) and (max-width: 694px){
    .gastronomia_grid_item{		width: 92vw;}
}


@media (min-width: 150px) and (max-width: 1120px){
    .inicio_infos_direccion_p{
		font-size: 30px;
	}
}
@media (min-width: 150px) and (max-width: 450px){
    .items_inicio_direccion{
		font-size: 16px;
		min-width: 100px;
		margin: 4px;


	}
	.inicio_infos_direccion_p{
		font-size: 24px;
	}
}
@media (min-width: 150px) and (max-width: 350px){
    .items_inicio_direccion{
		font-size: 12px;
	}
}








